<%= javascript_include_tag 'tab' %>
<%= javascript_include_tag 'discussion' %>
<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<style>
  .discus_web_url_link
  {
    max-width: 610px !important;
    word-wrap: break-word;
  }
  .my_discussion_comment_link
  {
    color: #64B0CC;
    float: right;
    font-size: 12px;
    left: 10px;
    position: absolute;
    text-align: right;
    text-decoration: none;
    top: 0;
    width: 655px;
  }
  label
  {
    width: auto !important;
  }
</style>
<div class="left_panel" align="center">
  <%= render :partial => "user_left_panel" %>
</div>
<div class="main_panel">
  <div class="profile_tabs_container">
    <div class="profile_detail_div">
      <%= render :partial=>"user_account" %>
    </div>
    <div class="tabs_div">
      <%= render :partial=>"tab_section" %>
    </div>
  </div>

  <!-- Discussion section starts -->
  <% unless @login_user.is_admin? and @other_user==@login_user %>
    <div class="profile_discussion_block" id="discuss_a_web_page_div">
      <div class="discussion_header" align="left">
        <span class="blue_header padding_left_ten" id="my_discussion_header"><%= @is_current_user ? "My" : truncate(@other_user.username, :length=>20)+"'s" %> Discussions</span>
        <% if @other_user and @other_user==current_user%>
          <div class="profile_post_url_div" align="right">
            <div class="grp_disc_form_wrpr">
              <%= form_for :discussion, :url=>{:controller=>:discussions, :action => 'create_discussion'}, :html => {:multipart => true, :id=>"discussion_form"} do |f|  %>
                <%= text_area 'discussion', 'discussion', :class=>"flaot_l", :style=>"width: 400px;height: 40px;"%>
                <br/><span id="urlError" class="form_error"></span>

                <span class="grp_disc_radios clear_both" style="padding-top: 0px;">
                  <div class="float_l">
                    <span class="clear_both discussion_frm_heading">Discussion Type</span>
                    <input type="radio" id="url_disc_radio" name="discussion[is_url]" value="true" checked/><label for="is_url">URL</label>
                    <input type="radio" id="non_url_disc_radio" name="discussion[is_url]" value="false"/><label for="is_url">Comment/Question</label>
                  </div>
                  <div class="float_l" style="padding-left: 50px;">
                    <span class="clear_both discussion_frm_heading">Discuss with</span>
                    <input type="radio" checked id="discuss_with_all_user" name="discussion[share_type]" value="public" onclick="jQuery('.d_group_box').hide();" /><label for="share_type">All User</label>
                    <input type="radio" id="discuss_with_group" name="discussion[share_type]" value="groups" onclick="jQuery('.d_group_box').show();" /><label for="share_type">Groups</label>
                  </div>

                  <div class="d_group_box clear_both hidden_element" align="left">
                    <strong class="clear_both discussion_frm_heading">Select groups</strong>
                    <div class="clear_both d_group_table_div">
                      <table>
                        <% if @login_user.discussion_group_users.empty? %>
                          <tr>
                            <td colspan="2">You have no groups</td>
                          </tr>
                        <% else %>
                          <% @login_user.discussion_group_users.each do |grp|  %>
                            <tr>
                              <td><input class="posting_group" name="posted_to_groups[]" type="checkbox" id="group_<%= grp.discussion_group.id %>" value="<%= grp.discussion_group.id   %>" /> </td>
                              <td><span class="grp_name"><%= grp.discussion_group.name %></span> </td>
                            </tr>
                          <% end %>
                        <% end %>
                      </table>
                      <span class="error clear_both" id="group_id_error"></span>
                    </div>
                  </div>
                  <div class="padding_top_six dis_attachment_container clear_both" align="left">

                  </div>
                  <a class="discussion_action_link clear_both add_attachment_link" style="margin: 8px 0 10px 8px" href="javascript:void(0);" >Add Attachment</a>
                  <input type="submit" class="blue_btn float_l clear_both" value="Discuss" onclick="return check_url()"/>
                </span>
              <%end%>
              <div class="hidden_element" id="attchment_content">
                <div class="attachment">
                  <a class="remove_attachment" href="javascript:void(0);"><img title="Remove" src="/images/cross-icon.png" width="10px" height="10px"/></a>
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>Description:</td>
                      <td><input type="text" name="attachment_desc[]" style="height: 15px;" class="discussion_attachment_desc"/>
                        <span class="error clear_both"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>File:</td>
                      <td><input type="file" name="discussion_attachments[]" class="discussion_attachment_file"/>
                        <span class="error clear_both"></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="my_discussion_comments">
        <%= render :partial => "discussions/my_discussions", :locals=>{:discussions=>@discussions,:direct=>true}, :layout => false %>
      </div>
    </div>
  <% end %>
  <!-- Discussion section ends -->
  <% if !@notifications.blank? %>
    <%= render :partial => "group_notification_to_user" %>
  <% end %>
</div>


<script type="text/javascript">
<% @other_user.nil? ? @other_user=@login_user :@other_user %>
  function load_my_comments()
  {
    jQuery.get('/load_my_comments/<%= @other_user.id  %> ', function(data) {
      jQuery("#my_discussion_comments").html(data);
      jQuery("#my_discussion_header").html("<%= @is_current_user ? "My" : truncate(@other_user.username, :length=>20)+"'s" %> Comments");
      jQuery(".my_discussion_comment_link").html("<%= @is_current_user ? "My" : truncate(@other_user.username, :length=>20)+"'s" %> Discussions");
    });
  }
  function load_my_discussions()
  {
    jQuery.get('/load_my_discussions/<%= @other_user.id  %>', function(data) {
      jQuery("#my_discussion_comments").html(data);
      jQuery("#my_discussion_header").html("<%= @is_current_user ? "My" : truncate(@other_user.username, :length=>20)+"'s" %> Discussions");
      jQuery(".my_discussion_comment_link").html("<%= @is_current_user ? "My" : truncate(@other_user.username, :length=>20)+"'s" %> Comments");
    });
  }
  jQuery(document).ready(function(){
    jQuery(".my_discussion_comment_link").html("<%= @is_current_user ? "My" : truncate(@other_user.username, :length=>20)+"'s" %> Comments");
    apply_scroll_effects();
    jQuery(".add_attachment_link").click(function(){
      var $attchment = jQuery("#attchment_content .attachment").clone();
      jQuery(".dis_attachment_container").append($attchment);
    });

    jQuery(".remove_attachment").live("click",function(){
      jQuery(this).closest(".attachment").remove();
    });
    jQuery('#discussion_form').ajaxForm(function() {
      //nothing
    });
    
  });

</script>
