<div class="left_panel" align="center">
  <%= render :partial => "users/user_left_panel" %>
</div>
<div class="main_panel">
  <span class="blue_header">Invitations</span>
  <div class="search_result_for_group_error">
    <span id="search_result_for_group_error"><% if @notifications.blank? %>There are no invitations available for you.<% end %></span>
  </div>
  <table>
    <% @notifications.each do |notification| %>
    <tr id="group_invition_<%= notification.id %>">
      <span id="accept_invitation_<%= notification.id %>">
        <td>You have a invitation from <%= notification.discussion_group.user.username %> to join the <%= notification.discussion_group.name %> group</td>
        <td><%= link_to "Accept", { :action => "accept_invitation", :id => notification.id }, :remote => true, :class => "album_action_link" %></td>
        <td><span class="link_seperator">|</span></td>
        <td><%= link_to "Decline", { :action => "decline_invitation", :id => notification.id }, :remote => true, :class => "album_action_link" %></td>
      </span>
      </tr>
    <% end %>

  </table>
</div>